.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid var(--bg-black-50);
    z-index: 10;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  .aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .aside .logo img {
    width: 70px;
    border-radius: 50%;
    background: rgba(187, 143, 206, 0.5);
    transition: 0.4s;
    -webkit-box-shadow: 1px 1px 49px 6px rgba(187, 143, 206, 0.98);
    box-shadow: 1px 1px 49px 6px rgba(187, 143, 206, 0.98);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  .aside .logo a{
      color: var(--text-black-900);
      padding: 15px 20px;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 5px;
      position: relative;
  }
  .aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
  }
  .aside .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
  }
  .aside .logo a span{
    font-family: 'Clicker Script',cursive;
    font-size: 40px;
  }
 .aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
 }
 .aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: relative;
 }
 .aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
 }
 .aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
 }
 .aside .menu-button{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  align-items: center;
 }
 .aside .menu-button .check{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
 }
 .aside .menu-button .check span{
  font-family: 'Clicker Script',cursive;
  font-size: 30px;
  font-weight: 700;
  color: #9c640c;
 }
 .aside .menu-button .check label{
  position: relative;
  width: 100px;
  height: 50px;
  background: #3e3e3e;
  box-shadow:  0 0 0 6px #303030;
  border-radius: 75px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .check label input{
  appearance: none ;
 }
 .check label span{
  position: absolute;
  left:0;
  width: 95px;
  height: 50px;
  background: url(./../Img/Coffee_02.png);
  background-size: auto 50px;
  background-repeat:no-repeat;
  transition: 1.5s;
  transform: rotate(-180deg);
  transform-origin: 25px;
 }
 .check label input:checked ~ span{
  left: 50px;
  background: url(./../Img/Coffee_01.png);
  background-size: auto 50px;
  background-repeat: no-repeat;
  transform: rotate(360deg);

  
 }
 .check label text{
  font-size: 12px;
  color: #fff;
 }
 .burger{
  z-index: 20;
  position: absolute;
  color: var(--text-black-900);
  padding: 1rem 0;
  display: none;
 }
 .menutoggle{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1rem ;
}
.menutoggle .menuBurger{
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-black-900);
  
}

 @media(max-width: 1199px){
  .aside{
      left: -100%;
  }
  
    .aside.active {
    left: 0;
    width: 100%;
    }
  
  .section{
      left: 0px;
  }
  .burger{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menutoggle .menuBurger{
    display: flex;
  }
  .aside .logo a{
    display: none;
  }

}
@media(max-width: 1250px){
  .aside .logo a{
    display: none;
  }
}
