
  .home{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    color: var(--text-black-900);
  }
  .home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
  }

  h3.hello{
    font-size: 28px;
    margin: 15px 0;
  }
  h3.hello span{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Clicker Script',cursive;
    color: var(--skin-color);
  }
  h3.my-profession{
    font-size: 30px;
    font-weight: 700;
  }
  h3.my-profession span{
    font-size: 30px;
    color: var(--skin-color);
  }
  .home .home-info p{
    font-size: 20px;
    margin-bottom: 70px;
    color: var(--text-black-700);
  }
  .button a{
    position: relative;
    background:var(--skin-color);
    color:var(--text-black-900);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
  }
  .button a:hover{
    letter-spacing: 0.25em;
    background: var(--skin-color);
    color: var(--skin-color);
    box-shadow:  0 0 35px var(--skin-color);
  }
  .button a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: var(--bg-black-100);
    transition: 0.5s all ease;
  }

  .button a span{
    position: relative;
    z-index: 2;
  }
  .button a i{
    position: absolute;
    inset: 0;
    display: block;
  }
  .button a i::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: var(--bg-black-900);
    border: 2px solid var(--skin-color);
    transition: 0.5s;
  }
  .button a:hover i::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 32px 32px var(--skin-color);
  }
  .button a i::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: var(--bg-black-900);
    border: 2px solid var(--skin-color);
    transition: 0.5s;
  }
  .button a:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 32px -32px var(--skin-color);
  }
  .home .home-img{
    flex:  0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .home .home-img .borde img{
    height: 400px;
  }
  .home .home-img .borde{
    height: 400px;
    width: 260px;
    position: relative;
    overflow: hidden;
  
  }
  .home .home-img .borde span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right,transparent, var(--skin-color));
    animation: animate_one 2s linear infinite;
  }
  @keyframes animate_one{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .home .home-img .borde span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height:100%;
    background: linear-gradient(to bottom,transparent, var(--skin-color));
    animation: animate_two 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate_two{
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
  }
  .home .home-img .borde span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:4px;
    background: linear-gradient(to left,transparent, var(--skin-color));
    animation: animate_three 2s linear infinite;
  }
  @keyframes animate_three{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
  .home .home-img .borde span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height:100%;
    background: linear-gradient(to top,transparent, var(--skin-color));
    animation: animate_four 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate_four{
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
  }
  @media(max-width: 991px){
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .home .home-img{
        display: none;
      }
}